<section class="modal d-flex justify-content-center align-items-center">
  <article class="modal-dialog modal-lg"> <!-- Use modal-lg para um modal grande ou modal-sm para um modal pequeno -->
    <section class="modal-content">
      <header class="modal-header bg-dark-subtle">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" (click)="onClose()"></button>
      </header>
      <main class="modal-body bg-danger-subtle">
        <p>{{msg}}</p>
      </main>
      <footer *ngIf="showFooter" class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onClose()">{{cancelTxt}}</button>
        <button type="button" class="btn btn-primary" (click)="onConfirm()">{{okTxt}}</button>
      </footer>
    </section>
  </article>
</section>