.table-scroll-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  position: relative;
}

.titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
  width: 100%;
}

.table {
  text-align: center;
  margin: 0 auto;
  color: white;

  &__cabecalho {
    color: var(--primary);
    cursor: pointer;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;

    &__conteudo {
      padding: 10px;
      border-bottom: 2px solid green;
    }
  }

  &__linha {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .table__conteudo {
        border-bottom: none;
      }
    }
  }

  &__conteudo {
    padding: 10px;
    border-bottom: 1px solid var(--primary);
  }
}

.up {
  transform: rotate(90deg);
  transition: ease 0.2s;
}

.down {
  transition: ease 0.2s;
}

.btn {
  color: white;
}

.btn1 {
  @extend .btn;
  background: rgb(60, 157, 248);
}

.btn2 {
  @extend .btn;
  background: rgb(233, 127, 127);
}

.btn-info:hover {
  background-color: white;
  color: rgb(119, 207, 241);
}

.btn-danger:hover {
  background-color: white;
  color: rgb(233, 127, 127);
}

span {
  border-radius: 5px;
}


