.btn {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 20px;
  margin-top: 60px;
  width: 100%;
}
.container {
  background-color: white;
  color: white;
  width: fit-content;
  height: 400px;
  margin-top: 130px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border: 2px solid green;
}
h1 {
  text-align: center;
  color: black;
}
label {
  color: black;
  margin-bottom: 4px;
  font-size: 12px;
}

.form-control {
  margin-top: 50px;
  border: 2px solid green;
  border-radius: 20px;
}

